<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type of Work">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Mobile No">
    </mat-form-field>    
      
  <mat-form-field>
    <textarea matInput matTextareaAutosize placeholder="Address" matAutosizeMinRows="8"></textarea>
  </mat-form-field>

</div>
<div class="button-row">
  <button mat-raised-button color="primary">Save</button>
  <button mat-raised-button>Cancel</button>
</div>