<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" *ngIf="isLogin()">
  <router-outlet></router-outlet>
</div>

<div class="container-fluid layout" *ngIf="!isLogin()">
  <app-header></app-header>
  <div class="center">
    <div class="sidemenu">
      <table class="">
        <tbody>
          <tr [ngClass]="router.url=='/attendance'?'selected': ''">
            <td class="icons">
              <a>
                <i class="fas fa-calendar-check"></i>
              </a>
            </td>
            <td class="menus">
              <b>Daily Attendance</b>
            </td>
          </tr>
          <tr [ngClass]="router.url=='/employee/register' ? 'selected': ''">
            <td class="icons">
              <a>
                  <i class="fas fa-users"></i>
                </a>
            </td>
            <td class="menus">
              <b>Employee Registration</b>
            </td>
          </tr>
          <tr [ngClass]="router.url=='/employee/detail' ? 'selected': ''">
            <td class="icons">
              <a>
                  <i class="fas fa-address-card"></i>
                  </a>
            </td>
            <td class="menus">
              <b>Employee Detail</b>
            </td>
          </tr>
          <tr [ngClass]="router.url=='/review' ? 'selected': ''">
            <td class="icons">
              <a>
                  <i class="fas fa-user-check"></i>
                  </a>
            </td>
            <td class="menus">
              <b>Review</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
